@import '../../styles/base';

.btn {
  display: flex;
  align-items: center;
  gap: toEm(8);
  border-radius: toEm(100);
  border: 2px solid;
  padding: toEm(14) toEm(32);
  transition: 0.25s ease-in-out;

  span {
    font-size: toRem(20);
  }
}

.primary {
  border-color: $background-blue;
  color: $background-blue;

  &:hover {
    background-color: $background-blue;
    color: $white-100;
  }
}

.secondary {
  border-color: $green;

  &:hover {
    background-color: $green;
    color: $dark-blue;
  }
}