@import '../../styles/base.scss';

.root {
  img {
    @include display-flex-center;

    height: toRem(91);
    width: toRem(84);
    margin: toRem(100) auto toRem(60) auto;

  }

  h1 {
    font-size: toRem(48);
    text-align: center;
    font-weight: 400;
  }

  &Success {
    @include display-flex-center;

    border: 1px solid $border;
    border-radius: toRem(10);
    height: toRem(100);

    width: toRem(350);
    margin: toRem(80) auto;
    padding: toRem(30);

    color: green;
    text-align: center;
  }

  &Form {
    @include container;
    display: flex;
    flex-direction: column;
    gap: toRem(10);
    max-width: 993px;
    margin-top: toRem(80);

    &Input {
      display: flex;
      flex-direction: column;
      gap: toRem(6);

      input, textarea {
        border: 1px solid $border;
        padding: toRem(10);
        border-radius: toRem(10);
      }

      small {
        color: red;
      }
    }

    &Top {
      display: grid;
      grid-template-columns:1fr 1fr;
      gap: toRem(16);


    }

    &Btn {
      width: toRem(220);
      margin: toRem(18) auto;
      justify-content: center;
    }

  }
}