$primary: #141c3a;
$secondary: #0a0a0ae6;
$background-blue: #6E07F3;
$link-blue: #0068d1;
$dark-blue: #141c3a;
$lavender: rgba(255, 255, 255, 0.5);
$green: #5BE9B9;


$background-gradient: linear-gradient(90deg, #020a4e 0, #1badd9 100%);
$background-gradient-reverse: linear-gradient(90deg, #1badd9 0, #020a4e 100%);

$white-100: #ffffff;
$white-80: #f8f8f8;
$white-50: #808080;
$border: #E6ECF8;

$success: #72a024;
$failure: #d32828;

$accent-front: #505050;
$accent-back: #f5f5f5;

$button-accent: #244a72;
$button-gradient: linear-gradient(180deg, #244a72 0, #0d2a49 100%);
$button-hower-gradient: linear-gradient(180deg, #0d2a49 0, #244a72 100%);

$text-brown: #d9d9d9;
