@import "../../styles/base";

.root {
  @include container;
  margin-top: toEm(120);

  h1 {
    font-size: toRem(32);
    margin-bottom: toRem(20);
  }

  &Experiances {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    &Experiance {
      img {
        width: toRem(100);
        height: toRem(60);
        object-fit: contain;
      }

      &Detail {
        h3 {
          margin-bottom: toRem(16);
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: toRem(8);

          li {
            list-style: disc;
          }
        }
      }
    }
  }
}