@import "../styles/base";

.header {

  padding: toRem(18);
  border-bottom: 1px solid $border;
  position: sticky;
  top: 0;
  background-color: rgba($background-blue, 0.1);

  &Container {
    @include container;
    @include display-flex-space;
  }

  img {
    width: toRem(48);
    height: toRem(48);
    border-radius: 100%;
  }

  a {
    color: black;
    font-weight: bold;
  }

  ul {
    display: flex;
    align-items: center;
    gap: toRem(10);

    button {
      padding: toRem(10) toRem(20);
    }
  }
}